<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-success btn-sm" href="admin/users" data-fancybox data-src="#partForm">Users</a>
        </li>
      </ul>
  </nav>