<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ePOS</title>

        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css" />


        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
            <!--[if lte IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
            <![endif]-->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">ePOS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a  class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a  class="nav-link" href="/pricelist">Pricelist</a></li>
                    <li class="nav-item"><a  class="nav-link" href="/sales">Sales</a></li>
                    <li class="nav-item"><a  class="nav-link" href="/customers">Customers</a></li>
                    <li class="nav-item"><a  class="nav-link" href="/about">About</a></li>
                </ul>
                <div class="my-4 my-lg-0">
                    <ul class="navbar-nav">
                        <%
                            if(!currentUser) {
                        %>
                            <li class="nav-item">
                                <a  class="btn btn-success mx-lg-2 my-lg-0 my-1" href="/login">Log in</a>
                            </li>
                            <li class="nav-item text-warning">
                                <a  class="btn btn-warning mx-lg-2 my-lg-0 my-1" href="/register">Register</a>
                            </li>
                        <%  } else { %>
                                <% if(currentUser.isAdmin){ %>
                                    <li class="nav-item">
                                        <a  class="btn btn-dark mx-lg-2 my-lg-0 my-1" href="/admin">Admin</a>
                                    </li>
                            <%  } %>
                            <li class="nav-item">
                                <a  class="btn btn-danger mx-lg-2 my-lg-0 my-1" href="/logout">Logout</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main" class="container-fluid mw1200">


        <% if(errorMsg && errorMsg.length > 0) { %>
            <div class="alert alert-danger my-3" role="alert">
                <%= errorMsg %>
            </div>
        <% } %>
        <% if(successMsg && successMsg.length > 0) { %>
            <div class="alert alert-success my-3" role="alert">
                <%= successMsg %>
            </div>
        <% } %>
            