<% include partials/header %>

<nav class="navbar navbar-expand sticky-top navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0">
        <input type="search" value="" placeholder="Search" class="form-control" id="searchBox">
        <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
      </form>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-success btn-sm" href="javascript:;" data-fancybox data-src="#partForm" onclick="editPriceForm()">Add field</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-danger btn-sm" href="javascript:;" onclick="refreshTable()" >Refresh</a>
        </li>
      </ul>
      <span class="navbar-text">
        1: <span id="basket"></span>
        2: <span id="min"></span>
        3: <span id="partscost"></span>
      </span>
  </nav>
  
  <div class="row">
    <div class="col">
      <h1>Repair Price List</h1>
    </div>
  </div>
  <div class="row">
    <div id="tableDiv" class="col table-responsive">
    </div>
  </div>
  
  
  <div class="row">
    <div class="col">
      <p>Made by: <a href="http://aurorastudio.uk">Aurora Studio</a></p>
    </div>
  </div>
  
  
  
  <div id="partForm" style="display: none; width: 600px; height: 800px;">
  <form id="formElement">
    <div class="form-group row">
      <label class="col-2 col-form-label" for="model">Model:</label>
      <div class="col">
        <input type="text" value="" class="form-control" id="model">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="part">Part:</label>
      <div class="col">
        <input type="text" class="form-control" id="part">
        </div>
    </div>
    <div class="form-group row">
      <label class="col-9 col-form-label" for="labour">Labour:</label>
      <div class="col">
        <input type="number" step="0.01" min="0" class="form-control" id="labour">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-9 col-form-label" for="second">Labour % if second:</label>
      <div class="col">
        <input type="number" step="1" min="0" value="15" class="form-control" id="second">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-9 col-form-label" for="minPercentage">Min labour %:</label>
      <div class="col">
        <input type="number" step="1" min="0" value="50" class="form-control" id="minPercentage">
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-9">
          <label class="col-form-label-sm" for="partNumber">Add part:</label>
          <input type="text" class="form-control form-control-sm" id="partNumber">
          <div class="invalid-feedback">
            Please provide a valid part number.
          </div>
        </div>
        <div class="col-3">
          <label class="col-form-label-sm" for="partAmount">QTy:</label>
          <input type="number" step="1" min="0" value="1" class="form-control form-control-sm" id="partAmount">
        </div>
      </div>
      <a href="javascript:;" id="addPartButton" class="btn btn-secondary btn-sm top-buffer">Add</a>
    </div>
    <div class="form-group hidden" id="partsDiv">
    </div>
    <input type="hidden" name="editId" id="editId" readonly>
    <input type="hidden" name="localId" id="localId" readonly>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  </div>
  
  
  <pre id="csv" class="hidden"></pre>
  <script src="/js/pricelist/table.js"></script>
  <script src="/js/pricelist/forms.js"></script>
  <script src="/js/pricelist/helpers.js"></script>
  <script src="/js/pricelist/data.js"></script>
  <script src="/js/pricelist/main.js"></script>
  <script src="/js/pricelist/style.js"></script>


  <% include partials/footer %>