<% include partials/header %>

<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
    <form class="form-inline my-2 my-lg-0">
        <input type="search" value="" placeholder="Search" class="form-control" id="searchBox">
        <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
      </form>
      <ul class="navbar-nav mr-auto">
        <% if(currentUser.write){ %>
        <li class="nav-item pl-2">
          <a class="nav-link btn btn-outline-success btn-sm" href="javascript:;" data-fancybox data-src="#partForm" onclick="editPriceForm()">Add field</a>
        </li>
        <%  } %>
        <li class="nav-item pl-2">
          <a class="nav-link btn btn-outline-danger btn-sm" href="javascript:;" onclick="refreshTable()" >Refresh</a>
        </li>
      </ul>
      <span class="navbar-text">
        1: <span class="text-success" id="basket"></span>
        2: <span class="text-info" id="min"></span>
        <% if(currentUser.write){ %>
        3: <span class="text-danger" id="partscost"></span>
        <%  } %>
      </span>
  </nav>
  
  <div class="row">
    <div class="col">
      <h1>Repair Price List</h1>
    </div>
  </div>
  <div class="row" id="tableDiv">
        <div class="spinner"></div>
  </div>
  
  
  <div class="row">
    <div class="col">
      <p>Made by: <a href="http://aurorastudio.uk">Aurora Studio</a></p>
    </div>
  </div>
  
<% if(currentUser.write){ %>
<div id="editPriceContainer">
  
</div>
 <%  } %>
  
  <pre id="csv" class="hidden"></pre>
  <script src="/js/pricelist/table.js"></script>
  <script src="/js/pricelist/helpers.js"></script>
  <script src="/js/pricelist/data.js"></script>
  <script src="/js/pricelist/main.js"></script>
  <script src="/js/pricelist/style.js"></script>

<% if(currentUser.write){ %>
  <script src="/js/pricelist/forms.js"></script>
  <script src="/js/pricelist/write.js"></script>
 <%  } %>


  <% include partials/footer %>