<%- include ("header") %>

<div class="card mt-5">
  <h2 class="card-header">Work in progress!</h2>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">For now we have working price list and user managment. Soon we will add sales and banking support.</p>
    <p class="card-text">After registration send me e-mail to t@tracz.me to get full access.</p>
    <a href="/register" class="btn btn-primary">Register to test!</a>
  </div>
</div>

<%- include ("footer") %>