<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <div class="btn-group" role="group">
                <a class="nav-link btn btn-dark text-white btn-sm admin-nav" href="/admin">Admin</a>
                <a class="nav-link btn btn-success btn-sm text-white admin-nav" href="/admin/users">Users</a>
        </div>
    </ul>
  </nav>
  <script src="/js/admin/admin.js"></script>